// colors
$white                  : #FFFFFF;
$black                  : #000;
$red                    : #D13028;
$blue                   : #1976d2;
$gray                  : #EDEDED;
$gray-light             : rgba(255, 255, 255, 0.10);

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-bg-max          : 1919px;
$screen-md-max          : 1600px;
$screen-mac-max         : 1300px;
$screen-sm-max          : 799px;
$screen-sm-min          : 399px;
$screen-bg-min          : 1920px;
