@import "variables";
@import "media-queryes";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  scroll-behavior: smooth;
}


body {
  position: relative;
  min-width: 375px;
  max-width: $screen-bg-max;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  color: $black;
  min-height: 100vh;

  @include mobile {
    overflow-y: hidden;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: $screen-bg-max;
  z-index: 10;
  width: 100%;

  height: 60px;
}


button, ul, ol, h1, h2, h3, h4, h5, h6, p, fieldset, figure, dl, dd, blockquote {
  margin: 0;
}

ul, ol, fieldset, button, th, td {
  padding: 0;
}

li {
  list-style: none;
}


button, fieldset {
  border: 0;
}

strong, b, h1, h3, h4, h5, h6 {
  font-weight: 700;
}


img, svg {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
  user-select: none;
}

svg {
  display: block;

  path {
    transition: fill $normal;
  }
}

.app-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: $screen-mac-max;
  min-width: $screen-sm-min;
  margin: auto;
  @include mobile {
    padding: 20px;
  }
}
