@import "src/styles/media-queryes";
.formContainer {
  min-width: 280px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;


.error{
  color: red;
  text-align: center;
}
.field{
  display: flex;
  flex-direction: column;

}
}
.title {
  font-size: 24px;
  font-weight: 600;
}
